* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fffefea6
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 40px;
    box-shadow: #AF2424;
    width: 100%;
    background-color: #e7e4e4;
    transition: all 0.5s;
    position: fixed;
}

.nav-menu p {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.p-paranorama {
    color: #AF2424;
    font-size: 40px;
}

.p-plaza {
    color: #AF2424;
    font-size: 40px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: #AF2424;
    font-size: 20px;
    font-size: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: #AF2424;
}

.navigation i {
    cursor: pointer;
    font-size: 25px;
    color: #AF2424;
    font-weight: 400;
}

.menu {
    cursor: pointer;
    display: none;

}

.logo-nav {
    width: 70px;
}

.media i {
    color: #AF2424;
    padding-bottom: 50px;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    background: #000000;
    margin: 5px auto;
    transition: all 0.5s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: #AF2424;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-text {
    max-width: 37rem;


}

.home-text .texth4 {
    color: #2c2929;
    margin-bottom: 2rem;
    font-size: 35px;
    font-weight: 800;


}

.home-text .texth1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    line-height: 4rem;
    color: #AF2424;


}

.home-text p {
    margin-bottom: 3rem;
    color: #2c2929;
    font-size: 21px;
    font-weight: 600;


}

.button-contact {
    padding: 15px 45px;
    background-color: #AF2424;
    color: #ffffff;
    border-radius: 15px;
    font-weight: 600;
    transition: all 0.5s;
    border: none;
    box-shadow: 8px 8px 8px 0px #313131;
    width: 300px;
    height: 50px;

}

.button-contact:hover {
    background-color: #cc4c4c;
}

.home-image img {
    width: 100%;

}

img {
    width: 800px;
}

.location {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #AF2424;
    padding-bottom: 20px;
}

.shop {
    color: #AF2424;
    font-weight: 600;
    font-size: 30px;

}


iframe {
    border-radius: 25px;
}

.div-street {
    background-color: #AF2424;
    color: #dfddda;
    height: 200px;
    font-size: 13px;
    font-weight: 300;

}

.adress {
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 400;

}

.iframe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

}

.div-street span {

    font-size: 25px;
}

.fale {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px;
    border-radius: 25px;
    gap: 15px;
    position: fixed;
    left: -405px;
    width: 390px;
    height: 600;
    transition: left 2s linear;
    z-index: 4;
    max-width: 300px;


}

.fale button {
    height: 35px;
    background-color: #AF2424;
    border-radius: 10px;
    border: none;
    color: #dfddda;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px 3px 0px #313030;

}

.fale input {
    height: 35px;
    border-radius: 10px;
    border-color: 1px #31313100;
    text-align: center;

}

.fale textarea {
    height: 250px;

}

.fale textarea {
    text-align: center;
    margin-top: 10px;
}


.form-mask {
    visibility: hidden;
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(81, 81, 82, 0.7) 15%, rgba(81, 81, 82, 0.7) 50%, rgba(81, 81, 82, 0.7) 85%);
    position: fixed;
    top: 0;
    z-index: 3;
}



@media (max-width: 785px) {
    .navigation {
        padding: 15px 20px;
    }


    .menu {
        display: block;
        margin-left: 350px;
        font-size: 30px;

    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);


    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;

    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }



    .nav-menu {
        position: fixed;
        right: -100%;
        top: 50px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #AF2424;
        ;
        color: #f0efef;
        gap: 2px;
        transition: 0.3s;
        font-size: 17px;
        font-weight: 500;
    }

    .nav-menu p {
        display: none;
    }



    .nav-menu i {
        font-size: 40px;
        color: #f0efef;
    }

    .nav-menu li:hover {
        color: #AF2424;
    }


    .nav-menu.ativo {
        right: 0;
    }


    .nav-item {
        padding-top: 50px;
        gap: 3px;
        display: flex;
        justify-content: left;
        align-items: last baseline;

    }

    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .iframe-container,
    .location {
        display: none;
    }

    .location.home-text p {
        font-size: 19px;
        font-weight: 500;

    }

    .home-text .texth1 {
        font-size: 2.0rem;
    }

    .home-text .texth4 {
        font-size: 19px;
    }

    .home-image img {
        display: none;

    }

    .home-text p {
        font-size: 16px;
        max-width: 400px;

    }

    .adress {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .adress h4 {
        font-size: 20px;
    }


    .div-street {
        background-color: #AF2424;
        color: #dfddda;
        height: 200px;
        font-size: 13px;
        font-weight: 300;
        margin: -79px;

    }

    .fale {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 15px 15px 15px;
        border-radius: 25px;
        gap: 15px;
        position: fixed;
        left: -415px;
        width: 390px;
        height: 600;
        transition: left 2s linear;
        z-index: 3;
        max-width: 300px;
        box-shadow: 2px 2px 2px 2px #000000;

    }


    .logo-nav {
        display: block;
    }


}