* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}


body {
    background-color: #fffefea6
}

.icon-wpp {
    position: fixed;
    bottom: 20px;
    right: 15px;

}


.icon-wpp img {
    width: 80px;
    height: auto;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

}


.icon-wpp:active {
    transform: scale(1.20);
}

.icon-wpp:hover {
    transform: scale(1.20);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 40px;
    box-shadow: #AF2424;
    width: 100%;
    background-color: #e7e4e4;
    transition: all 0.5s;
    position: fixed;
    cursor: pointer;
}

.nav-item:hover {
    color: #AF2424;
}


.nav-menu p {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.p-paranorama {
    color: #AF2424;
    font-size: 40px;
}

.p-plaza {
    color: #AF2424;
    font-size: 40px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: #AF2424;
    font-size: 20px;
    font-size: 500;
    border-bottom: 2px solid #AF2424;
}


ul::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #AF2424;
    transition: background-color 0.3s ease;
}


.navigation button {
    cursor: pointer;
    font-size: 25px;
    color: #AF2424;
    font-weight: 400;
    border: none;
    background-color: #e7e4e4;
    transition: transform 0.5s ease;
}


.navigation button:active {
    transform: scale(0.80);

}

.menu {
    cursor: pointer;
    display: none;

}

.logo-nav {
    width: 70px;
}

.media i {
    color: #AF2424;
    padding-bottom: 50px;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    background: #000000;
    margin: 5px auto;
    transition: all 0.5s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: #AF2424;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-text {
    max-width: 37rem;


}

.home-text .texth4 {
    color: #2c2929;
    margin-bottom: 2rem;
    font-size: 35px;
    font-weight: 800;


}

.home-text .texth1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    line-height: 4rem;
    color: #AF2424;


}

.home-text p {
    margin-bottom: 3rem;
    color: #2c2929;
    font-size: 21px;
    font-weight: 600;


}

.button-contact {
    padding: 15px 45px;
    background-color: #AF2424;
    color: #ffffff;
    border-radius: 15px;
    font-weight: 600;
    transition: all 0.5s;
    border: none;
    box-shadow: 8px 8px 8px 0px #313131;
    width: 300px;
    height: 50px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

}

.button-contact:hover {
    background-color: #cc4c4c;
    transform: scale(1.05);
}

.home-image img {
    width: 100%;

}

img {
    width: 800px;
}

.location {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #AF2424;
    padding-bottom: 20px;
}

.shop {
    color: #AF2424;
    font-weight: 600;
    font-size: 30px;

}


iframe {
    border-radius: 25px;
}

.div-street {
    background-color: #AF2424;
    color: #dfddda;
    height: 200px;
    font-size: 13px;
    font-weight: 300;

}

.adress {
    padding-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;

}

.iframe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

}

.div-street span {

    font-size: 25px;
}

.fale {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px;
    border-radius: 25px;
    gap: 15px;
    position: fixed;
    left: -405px;
    width: 390px;
    height: 600;
    transition: left 2s linear;
    z-index: 4;
    max-width: 300px;


}

.fale button {
    height: 35px;
    background-color: #AF2424;
    border-radius: 10px;
    border: none;
    color: #dfddda;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px 3px 0px #313030;

}

.fale input {
    height: 35px;
    border-radius: 10px;
    border-color: 1px #31313100;
    text-align: center;

}

.fale textarea {
    height: 250px;

}

.fale textarea {
    text-align: center;
    margin-top: 10px;
}


.form-mask {
    visibility: hidden;
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(81, 81, 82, 0.7) 15%, rgba(81, 81, 82, 0.7) 50%, rgba(81, 81, 82, 0.7) 85%);
    position: fixed;
    top: 0;
    z-index: 3;
}


.roupas {
    width: 100%;
    overflow: hidden;
}


.ca1,
.ca2,
.ca3,
.ca4,
.ca5,
.ca6,
.ca7,
.ca8,
.ca9,
.ca10,
.ca11,
.ca12,
.cal1,
.cal2,
.cal3,
.cal4,
.cal5,
.cal6 {
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;


}


.cal1,
.cal2,
.cal3,
.cal4,
.cal5,
.cal6 {

    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;



}



.ca1,
.ca2,
.ca3,
.ca4,
.ca5,
.ca6,
.ca7,
.ca8,
.ca9,
.ca10,
.ca11,
.ca12 p {
    color: #201f1f;
    font-weight: 800;
}






.descricao-cal,
.descricao {
    text-align: center;
    padding: 5px;
}




.img-roupa {
    width: 290px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.7s, color 0.7s, transform 0.5s;
    z-index: 3;
    padding-top: 12px;



}

.img-roupa:hover {
    transform: scale(1.05);
    border-radius: 5px;
}

.color-name {
    background-color: #919191;
}

.roupas h4 {
    background-color: rgb(209, 207, 207);
    height: 30px;
    color: #1d1c1c;
    width: 120px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    margin-right: 15px;

}


.roupas p {

    font-size: 14px;
    color: #585858;
    gap: 15px;
    font-weight: 600;
    padding-bottom: 7px;
    padding-top: 5px;

}



.star {
    font-size: 21px;
    color: #3a3a3a;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.star:hover {
    color: #ffd000;
    transform: scale(0.95);
}

.star:active {
    color: #ffd000;
    transform: scale(0.95);
}



.tam {

    width: 35px;
    height: 30px;
    background-color: #fffefea6;
    color: #292828;
    border: 1px solid #72717188;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

}

.tam:active {
    border: 2px solid rgba(114, 113, 113, 0.822);
    transform: scale(0.90);
}

.tam:hover {
    border: 2px solid rgba(114, 113, 113, 0.822);
    transform: scale(0.90);
}

.buttoncompra {
    background-color: #000000;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.buttoncompra:active {
    background-color: #292828;
    transform: scale(0.90);
}



.buttoncompra:hover {
    background-color: #292828;
    transform: scale(0.90);
}





.roupas h5 {
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
}

.name-camisetas,
.name-calca {
    padding-left: 17px;
    padding-bottom: 20px;
    font-size: 28px;
    color: #AF2424;
    text-align: center;
}

.titule {
    text-align: center;
    font-size: 35px;
}


.roupas h4 {
    background-color: #AF2424;
    height: 15px;
    color: #ffffff;
    width: 120px;
    border-radius: 12px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: center;
    box-shadow: 2px 2px 2px #313131;
    margin-left: 25px;
    padding-top: 10px;

}





.sobre {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: #bdbdbd6c;
    ;
}

.sobre h3 {
    text-align: center;
    padding-bottom: 35px;
    font-size: 40px;
    color: #AF2424;
}

.sobre p {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    max-width: 1900px;
    height: auto;

}

.sobre img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 600px;
}


.name-calca {
    padding-left: 17px;
    padding-bottom: 20px;
    font-size: 28px;
    color: #AF2424;
    text-align: center;

}



.formas-pagamento img {
    width: 60px;
    padding: 10px;
}


.formas-pagamento {
    padding-top: 10px;
    background-color: #e7e4e4;
    color: #AF2424;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    height: 100px;
}

.formas-pagamento p {
    padding-bottom: 10px;
}




@media (max-width: 785px) {

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;

    }


    .icon-wpp {
        position: fixed;
        bottom: 30px;
        right: 10px;
    }


    .icon-wpp img {
        width: 60px;
        height: auto;
    }



    .roupas,
    .calcas {
        width: 100%;
    }




    .navigation {
        padding: 15px 20px;
        border-bottom: 2px solid #AF2424;
    }


    .menu {
        display: block;
        margin-left: 340px;
        font-size: 30px;

    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);


    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;

    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }



    .nav-menu {
        position: fixed;
        right: -100%;
        top: 50px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #AF2424;
        color: #f0efef;
        gap: 2px;
        transition: 0.3s;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        border-bottom: 2px solid #AF2424;

    }

    .nav-menu p {
        display: none;
    }



    .nav-menu i {
        font-size: 40px;
        color: #f0efef;
    }

    .nav-menu li:hover {

        color: #0e0e0e;
    }

    .nav-menu button {
        background-color: #AF2424;
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
    }


    .nav-menu i:hover {
        color: #0e0e0e;
    }


    .nav-menu.ativo {
        right: 0;
    }


    .nav-item {
        padding-top: 50px;
        gap: 3px;
        display: flex;
        justify-content: left;
        align-items: last baseline;

    }

    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .iframe-container,
    .location {
        display: none;
    }

    .location.home-text p {
        font-size: 19px;
        font-weight: 500;

    }

    .home-text .texth1 {
        font-size: 2.0rem;
    }

    .home-text .texth4 {
        font-size: 19px;
    }

    .home-image img {
        display: none;

    }

    .home-text p {
        font-size: 16px;
        max-width: 400px;

    }

    .adress {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .adress h4 {
        font-size: 20px;
    }


    .div-street {
        background-color: #AF2424;
        color: #dfddda;
        height: 200px;
        font-size: 13px;
        font-weight: 300;


    }

    .fale {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 15px 15px 15px;
        border-radius: 25px;
        gap: 15px;
        position: fixed;
        left: -415px;
        width: 390px;
        height: 600;
        transition: left 2s linear;
        z-index: 3;
        max-width: 300px;
        box-shadow: 2px 2px 2px 2px #000000;

    }


    .logo-nav {
        display: block;
    }

    .roupas {
        display: flex;
        flex-wrap: wrap;
    }

    .calca {
        display: flex;
        flex-wrap: wrap;
    }

    .ca1,
    .ca2,
    .ca3,
    .ca4,
    .ca5,
    .ca6,
    .ca7,
    .ca8,
    .ca9,
    .ca10,
    .ca11,
    .ca12 {

        width: 50%;
        box-sizing: border-box;
        padding-left: 8px;
        padding-right: 8px;

    }

    .cal1,
    .cal2,
    .cal3,
    .cal4,
    .cal5,
    .cal6 {
        width: 50%;
        box-sizing: border-box;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
    }



    .img-roupa {
        width: 190px;
        border-radius: 5px;
        padding: 20px;
    }


    .roupas h4 {


        background-color: #AF2424;
        height: 18px;
        color: #ffffff;
        width: 130px;
        border-radius: 15px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 28px;
        font-weight: 700;
        text-align: center;
        box-shadow: 2px 2px 2px #313131;

    }

    .name-calca p {
        text-align: center;
        margin-left: 50%;
    }

    .name-camisetas {
        font-size: 15px;
        text-align: left;
    }

    .calcas {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .name-calca {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .descrição {
        text-align: center;
    }

    .sobre {
        display: none;

    }

    .name-camisetas,
    .name-calca {
        padding-left: 17px;
        padding-bottom: 20px;
        font-size: 28px;
        color: #AF2424;
        text-align: center;
    }


    .star {
        font-size: 21px;
        color: #3a3a3a;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s, transform 0.5s;
    }

    .star:hover {
        color: #ffd000;
        transform: scale(0.95);
    }

    .star:active {
        color: #ffd000;
        transform: scale(0.95);
    }



    .buttoncompra {
        background-color: #000000;
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
    }

    .descrição h5 {
        margin-bottom: 5px;
        font-size: 13px;
        height: 35px;
    }

    .descrição h3 {
        padding-top: 5px;
    }

    .formas-pagamento img {
        max-width: 400px;
        width: 55px;
        padding: 12px;
    }


    .formas-pagamento {
        padding-top: 10px;
        background-color: #e7e4e4;
        color: #AF2424;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        height: 100px;
    }

    .formas-pagamento p {
        padding-bottom: 10px;
        font-size: 15px;
    }

}



@media (min-width: 1000px) {


    .ca1,
    .ca2,
    .ca3,
    .ca4,
    .ca5,
    .ca6,
    .ca7,
    .ca8,
    .ca9,
    .ca10,
    .ca11,
    .ca12 {
        text-align: center;
        line-height: 20px;
    }





    .roupas img {

        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .roupas h4 {

        background-color: #AF2424;
        height: 20px;
        color: #ffffff;
        width: 130px;
        border-radius: 15px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 28px;
        font-weight: 700;
        text-align: center;
        box-shadow: 2px 2px 2px #313131;
    }



    .home-text p {
        font-size: 16px;
        max-width: 494px;
        padding-left: 10px;
        padding-right: 10px;

    }


}


@media (max-width: 1000px) {

    .home-text p {
        max-width: 481px
    }

}